.main
{
    float: right;
}
.main ul li
{
    list-style: none;
}
.btn
{
    width: 80px;
    height: 30px;
    color: #fff;
    background-color: green;
    border: none;
    font-size: 25px;
    margin-left: 120px;
}